.DS_Store
node_modules
/build
/.svelte-kit
/package
/src/cache
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/static/old_static/webfonts/gill-sans/
/static/old_static/webfonts/gill-sans.css
"/home
static/"
/examples
static/webfonts/gill-sans.css
static/webfonts/gill-sans
example.html
example.json
/iswpcdk
static/react-pivot-standalone-4.1.1.min.js