# Build files that shouldn't be part of the repo.
.DS_Store
node_modules
package-lock.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/build
/.svelte-kit

# This needs to be downloaded from another source.
src/lib/webfonts/gill-sans
src/lib/webfonts/gill-sans.css

# Do not remove these. Run npm package instead if this is missing. It shouldn't be in the git repo. 
static/tom-select.default.min.css
static/tom-select.complete.js
static/tom-select.complete.js.map