<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/old_static/img/favicon.ico" />
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
  <script src="/react-pivot-standalone-4.1.1.min.js"></script>
  <script src="/leaflet.oms.js"></script>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
  <script src="/utf-grid.js"></script>


  <!-- {% block styles %} -->
  <link rel="stylesheet" type="text/css" href="/webfonts/gill-sans.css">
  <!-- <link rel="stylesheet" type="text/css" href="/public/{{cssBundleName}}"> -->

  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

</head>

<body>
  <div id="page-wrapper">
    <div id="content">
      <!--[if lte IE 9]>
          <div class="browsehappy">
            <p>You are using an <strong>unsupported</strong> browser: <a href="https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support">https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support</a></p>
            <p>Please <a href="http://browsehappy.com/" title="browsehappy">upgrade your browser</a> to improve your experience.</p>
          </div>
        <![endif]-->
      <!-- <div class="draft-note">
          <div class="wrapper">
            The draft data displayed in this web application is to assist in review of the draft regional water plans and is as of 3/13/2020. Some features may not display properly until the data has been finalized (e.g. mapped sources). Although the data is subject to change as the draft plans are reviewed, the data displayed will not be refreshed until final regional water plans are approved (early 2021). Please visit the 2021 Draft Regional Water Plan homepage to view the published plan at: <a title="TWDB State Water Planning home" href="http://www.twdb.texas.gov/waterplanning/rwp/plans/2021/index.asp" target="_blank">http://www.twdb.texas.gov/waterplanning/rwp/plans/2021/index.asp</a>.
          </div>
        </div> -->
        %sveltekit.head%


      <div id="main-content">
        <div style="display: contents">%sveltekit.body%</div>

        <!-- {% block content %}{% endblock content %} -->
      </div>
    </div>
    <footer id="footer">
      <p>This website is brought to you by the <a href="http://www.twdb.texas.gov"
          title="Texas Water Development Board">Texas Water Development Board</a></p>
      <p>
        <a href="" target="_self" title="Site Policies">Site Policies</a> |
        <a href="http://www.texas.gov/" title="Texas Online">Texas Online</a> |
        <a href="http://www.governor.texas.gov/homeland" title="Homeland Security">Homeland Security</a> |
        <a href="http://www2.tsl.state.tx.us/trail" title="TRAIL">TRAIL</a> |
        <a href="mailto:InteractiveSWP@twdb.texas.gov" title="Contact Us">Contact Us</a>
      </p>
      <a href="http://tnris.org">
        <img class="tnris-logo" src="/old_static/img/tnris_logo.svg" alt="TNRIS logo" />
      </a>
    </footer>
  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id={{ gaTrackingCode }}"></script>-->
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ gaTrackingCode }}');
  </script>

  <script>
    document.getElementById('skip-link').onclick = function (e) {
      e.stopPropagation();
      e.preventDefault();
      document.getElementById('main-content').scrollIntoView();
      return;
    };
  </script>

  <!-- {% block bodyscripts %} -->
  <!--{# Default to sending a pageview. Child templates can have a blank block to avoid the page track. #}-->
  <!-- <script>
        ga('send', 'pageview');
      </script>-->
  <!-- {% endblock bodyscripts %} -->
</body>

</html>